# Application Server Configuration
SERVER_PORT=8080

# Local PostgreSQL with PostGIS Connection URL
DATABASE_URL=postgres://postgres:postgres@localhost:5432/fsm?sslmode=disable

# Local Redis Configuration (Docker or Host)
REDIS_URL=localhost:6379
